@using Diagramer.Constans
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Diagramer.Models.ViewModels.CreateGroupViewModel;
@{
    ViewData["Title"] = "Создать группу";
}

<form asp-action="CreateGroup" asp-controller="Users" method="post" enctype="multipart/form-data">
    <input name="Users" type="hidden" value="@Model.Users"/>
    <div class="form-group">
        <label for="SelectedUsersId">Категории</label>
        <select multiple name="SelectedUsersId" class="form-control" id="SelectedUsersId">
            <option disabled>Выберите студентов</option>
            @foreach (var user in @Model.Users)
            {
                <option value="@user.Id">@HTMLHelpers.NameOfUser(user)</option>
            }
        </select>
    </div>
    <p>
        <input name="Name" type="text" placeholder="Название" class="form-control" required/>
    </p>
    <p>
        <input type="submit" value="Создать"/>
    </p>
</form>