@using Task = Diagramer.Models.Task
@using Diagramer.Models.Identity
@using Diagramer.Constans
@model List<Answer>;
@{
    ViewData["Title"] = "Task Page";


}

<div>
    <h2>Ответы студентов</h2>
    @foreach (var answer in @Model)
    {
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">@HTMLHelpers.NameOfUser(answer.User)</h5>
                <a href='@Url.Action("Index","Answer",new {answerId = answer.Id})' class="btn btn-primary">Открыть ответ</a>
            </div>
        </div>
    }

</div>