@model List<Subject>; 
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Мои предметы</h1>


        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                @if (User.IsInRole("Teacher") || User.IsInRole("Admin"))
                {
                    <a class="btn btn-sm btn-outline-primary" href='@Url.Action("AddSubject")'>Создать предмет</a>
                }
            </div>
        </div>

    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Название</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var subject in @Model)
        {
            <tr>
                <td>
                    <a href='@Url.Action("OpenSubject", new { id = subject.Id })'>@subject.Name</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>