@model List<Category>; 
@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h1>Предметы по категориям</h1>
                @if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
                {
                    <a asp-action="CreateCategory">Создать категорию</a>
                }
            </div>
            <div class="row mt-4">
                @foreach (var category in @Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">@category.Name</h5>
                                <a href='@Url.Action("OpenCategory", new {id = category.Id})' class="btn btn-primary">Перейти к категории</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>